section(class="faq | container padding-block-800" )
  div(class="faq__header")
    h2(class="faq__title")="PREGUNTAS FRECUENTES".toUpperCase()
    p(class="faq__text | text-neutral-800" )="Si tiene una pregunta, es muy probable que la hayamos respondido a continuación. Si aún necesitas ayuda, ponte en contacto y ¡estaremos encantados de ayudarte!" 
  div(class="faq__wrapper")
    section(class="flow" )
      h3(class="faq__subtitle | center  text-accent-500")="PREGUNTAS COMUNES".toUpperCase()
      details(class="accordion | text-neutral-900") 
        summary(class="accordion__title | fw-bold" aria-controls="faq-general-answer-1")="¿La página web ofrece envío gratuito?" 
        p(class="accordion__text" id="faq-general-answer-1")="Ofrecemos envío gratuito en pedidos que cumplan ciertas condiciones.frecemos envío gratuito en ciertas promociones y ofertas especiales que se anuncian en la página web."
      details(class="accordion | text-neutral-900" open) 
        summary(class="accordion__title | fw-bold" aria-controls="faq-general-answer-2")="¿ofrece garantía en sus productos?" 
        p(class="accordion__text" id="faq-general-answer-2")="La duración de la garantía varía según el tipo de producto, pero normalmente ofrecemos una garantía mínima de un año a partir de la fecha de compra." 
      details(class="accordion | text-neutral-900") 
        summary(class="accordion__title | fw-bold" aria-controls="faq-general-answer-3")="¿Cómo puedo rastrear mi pedido?" 
        p(class="accordion__text" id="faq-general-answer-3")="Para rastrear tu pedido, debes iniciar sesión en nuestra página web y buscar la sección de Mis pedidos o Historial de pedidos. Allí encontrarás el estado actual de tu pedido." 
    section(class="flow" ) 
      h3(class="faq__subtitle | center  text-accent-500")="PREGUNTAS DE SUBSCRIPCION".toUpperCase()
      details(class="accordion | text-neutral-900")
        summary(class="accordion__title | fw-bold" aria-controls="faq-subscription-1")="¿Ofrecen descuentos exclusivos para suscriptores?" 
        p(class="accordion__text" id="faq-subscription-1")="¡Sí! Ofrecemos descuentos exclusivos para nuestros suscriptores de accesorios tecnológicos. Estos descuentos pueden incluir ofertas especiales, descuentos en productos seleccionados o descuentos en todo el sitio web." 
      details(class="accordion | text-neutral-900") 
        summary(class="accordion__title | fw-bold" aria-controls="faq-subscription-2")="¿Puedo cancelar mi suscripción en cualquier momento?" 
        p(class="accordion__text" id="faq-subscription-2")=" Si deseas cancelar tu suscripción, simplemente inicia sesión en tu cuenta en nuestra página web y busca la sección de suscripciones. Allí encontrarás la opción para cancelar tu suscripción."
      details(class="accordion | text-neutral-900") 
        summary(class="accordion__title | fw-bold" aria-controls="faq-subscription-3")="¿Puedo modificar mi suscripción?" 
        p(class="accordion__text" id="faq-subscription-3")="Si deseas cambiar la frecuencia de entrega, agregar o eliminar productos de tu suscripción o actualizar tus datos de pago, simplemente inicia sesión en tu cuenta en nuestra página web y busca la sección de suscripciones."